@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kadwa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFE9CE;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
}

li {
    list-style: none;
}

.menu {
    max-width: 45px;
}

/* lettertypes */
h1, h2 {
    font-size: 32px;
    font-family: 'Kadwa', serif;
    line-height: 35px;
    padding-top: 5%;
    color: #3D407A;
}

h3 {
    font-size: 20px;
    font-family: 'Kadwa', serif;
    line-height: 35px;
    color: #3D407A;
}

p {
    font-size: 18px;
    padding-top: 3%;
    font-family: 'Inter', sans-serif;
    color: #494036;
}

/* sexy */
section {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}

/* https: //getcssscan.com/css-buttons-examples */
.button-18 {
    display: inline-flex;
    justify-content: center;
    padding: 16px 35px;
    background-color: #D95970;
    color: #ffffff;
    border: 0;
    border-radius: 100px;
    margin-top: 5%;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

/* hamburger menu */
.hamburger {
    border: none;
    z-index: 100;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: white;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
}